@using TestWebApplication.Models.ViewModels;
@model ProductViewModel

@{
    ViewData["Title"] = "Add Product";
}

<h2>Add Product</h2>

<form asp-action="AddProduct">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductCode" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Stock">Back to List</a>
</div>